.container {
  background-color: #f5f1f1;
  color: #000000;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.date {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.link-button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: #45a049;
}

.charts-container {
  display: flex;
  flex-direction: column;
  max-height: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.charts {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.canvas {
  width: 48%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .charts {
    width: 100%;
  }

  .canvas {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .title {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
